<div class="content">
    <div class="left-content">
            <button  [routerLink] = "['flightBooking']">Flight Booking</button>
            <button>Bus Booking</button>
            <button>Car Booking</button>
            <button [routerLink]="['hotelbooking']">Hotel Booking</button>
    </div>
    <div>
    <!-- <button (click)="showMessage()">Click here</button> -->
    @defer()
    {
        <app-flight-booking></app-flight-booking>
    }
    @placeholder( minimum 500ms){
        <p>The Message will be displayed Soon</p>
    }
    @loading(after 500ms; minimum 10s)
    {
        <p>Loading</p>
    }
    @error
    {
        <p>Please try after sometimes</p>
    }
    <router-outlet></router-outlet>
    </div>
    <div class="right-content">
        <h3>Where?</h3>
        <h6>You can reach us travel any location</h6>
        <br>
        <h3>when?</h3>
        <h6>You can reach us for your plan trip</h6>
        <br><h3>transport?</h3>
        <h6>You can reach us for Flight, Bus, Car to travel</h6>
        <br>        
    </div>
</div>
