.content{
    margin-left: 1rem;
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    
}
.content .left-content{
    width: 18rem;
    display: flex;
    flex-direction: column;
}


.content .left-content button{
    height: 5rem;
    background-color: black;
    color: white;
    margin-left: 1.5rem;
}

.right-content{
    background-color: rgb(0, 0, 0);
    width: 20rem;
}

.right-content h3,h6{
    color: white;
    margin-left: 1rem;
}
.app-hotelbooking{
    float: left;
    width: 30%;
}
